[Desktop Entry]
Encoding=UTF-8
Name=Pandacoin
Comment=Desktop wallet for Pandacoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Pandacoin
Exec=pandacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pandacoin128.png
MimeType=x-scheme-handler/pandacoin;
Categories=Application;Network;
